*::, *::after, *::before {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #6C757D;
}
.nav-pills .nav-link {
    color: #6C757D;
}
.icon-box {
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid #6C757D;
    border-radius: 0.5rem;
    align-items: center;
}